{% extends 'base.html' %}

{% block content %}


<div class="col-md-6 offset-md-3">   <!-- To aliign everything within more into CENTER --> 

{% if user.is_authenticated %}
<h1> Hello there! </h1>
<h5> You are logged in </h5>

{% else %}
<h1>Login</h1>  
<br/>
<form method='POST' action={% url 'home' %}>
    {% csrf_token %}
    <form>
        <div class="mb-3">
                  <!-- 'placeholder' provides a hint that appears inside the input field when it's empty -->
                   <!-- 'required' reminds us to fill this field if left empty -->
          <input type="text" class="form-control"  name="username", placeholder="Username" required>
        </div>    
        <div class="mb-3">

          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>

</form> 
{% endif %}
{% endblock %}
